@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Martel Sans", sans-serif;
}

body {
  background-color: black;
}

.main {
  height: 80vh;
  background-size: max(1650px, 100vw);
  background-image: url("assats/image/netflix_bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.main .box {
  height: 80vh;
  width: 100%;
  background-color: black;
  opacity: 0.4;
  position: absolute;
  top: 0;
  
}

nav {
  max-width: 75vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 18px 48px;
  z-index: 5;
}

nav > img {
  width: 140px;
}

nav > div {
  background-color: rgb(229, 9, 20);
  padding: 0px 12px;
  border-radius: 4px;
}

nav > div > a {
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
}

.hero_section {
  top: 110px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  position: relative;
  padding: 23px;
}

.hero_section > :nth-child(1) {
  font-size: 2.8rem;
  font-weight: 900;
  text-align: center;
}

.hero_section > :nth-child(2) {
  font-size: 24px;
  margin-bottom: 5px;
  text-align: center;
}

.hero_section > :nth-child(3) {
  font-size: 20px;
  text-align: center;
}

.hero_section > div > input {
  background-color: rgba(0, 0, 0, 0.005);
  border: 1px solid white;
  padding: 0px 8px;
  min-width: 320px;
  height: 45px;
  color: white;
}

.hero_section .login_email {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.hero_section div .button_get_start {
  background-color: rgb(229, 9, 20);
  color: white;
  font-size: 20px;
  padding: 6px 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px 10px;
  font-weight: 700;
  border-radius: 3px;
}

.separation {
  height: 6px;
  background-color: rgb(37, 37, 37);
}

/* first */

.first {
  width: 75vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 72px 0px;
}

.first .tv_contast {
  display: flex;
  flex-direction: column;
  color: white;
}

.first .tv_contast > :nth-child(1) {
  font-size: 48px;
  font-weight: bolder;
  line-height: 1.4em;
}

.first .tv_contast > :nth-child(2) {
  font-size: 20px;
  line-height: 1.4em;
}

.first .setImg .tv_img {
  width: 80%;
  position: relative;
  z-index: 1;
}

.first .setImg {
  position: relative;
}

.first .setImg video {
  width: 59%;
  position: absolute;
  top: 20%;
  left: 10%;
}

/* seound part */

.second .bottam_part_logo {
  top: 60%;
  left: 10%;
  position: absolute;
  background-color: black;
  border: 2px solid gray;
  border-radius: 10px;
  width: 65%;
  height: 80px;
  display: flex;
  padding: 8px 12px;
  justify-content: space-between;
}

.second .setImg .tv_img_2 {
  width: 87%;
  position: relative;
}

.second .bottam_part_logo .tv_img_2_1 {
  margin: 5px 16px 0px;
}

.second .bottam_part_logo .tv_img_2_1 img {
  width: auto;
  height: 72px;
}

.second .bottam_part_logo .download_icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.second .bottam_part_logo .download_icon img {
  width: 50px;
}

.second .setImg .bottam_part_logo .content_for_second {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.second .setImg .bottam_part_logo .content_for_second span {
  height: 20px;
  font-size: 14px;
}

.second .setImg .bottam_part_logo .content_for_second :nth-child(1) {
  color: white;
}

.second .setImg .bottam_part_logo .content_for_second :nth-child(2) {
  color: #0071eb;
}

/* fourth part */

.fourth .setImg .tv_img_3 {
  width: 87%;
}

.faq_part h1 {
  color: white;
  padding: 23px 0px;
  text-align: center;
  font-size: 2rem;
  line-height: 1.2em;
  font-weight: 900;
}

.faq_part div {
  transition: all 0.09s ease-in;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  color: white;
  width: 60%;
  height: 50px;
  background-color: rgb(56, 56, 56);
  margin: 10px auto;
  padding: 10px 15px;
}

.faq_part .sign_in_footer {
  max-width: 80vw;
}

.sign_in_footer span {
  font-size: 1.25rem;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 10px 0px;
}

.sign_in_footer {
  margin: 60px 0px;
}

.sign_in_footer > div > input {
  background-color: rgba(0, 0, 0, 0.005);
  border: 1px solid white;
  padding: 0px 8px;
  width: 320px;
  height: 45px;
  color: white;
}

.sign_in_footer .login_email {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.sign_in_footer div .button_get_start {
  background-color: rgb(229, 9, 20);
  color: white;
  font-size: 20px;
  padding: 6px 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px 10px;
  font-weight: 700;
  border-radius: 3px;
}
.button_get_start {
  cursor: pointer;
}


.extra_padding{
  padding: 23px;
}

.plas_icon:hover {
  background-color: rgb(88, 88, 88);
  cursor: pointer;
}

footer {
  width: 80vw;
  margin: 80px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  font-size: 14px;
}

footer .foot_flex {
  display: flex;
  flex-direction: column;
}

footer a {
  color: rgb(168, 168, 168);
}
@media only screen and (max-width: 1200px) {
  .main {
    background-size: max(1200px, 100vw);
    background-size: cover;
  }
  nav {
    margin: auto;
  }

  .hero_section > :nth-child(1) {
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
  }

  .first .tv_contast > :nth-child(1) {
    font-size: 2.5rem;
    font-weight: bolder;
    line-height: 1.4em;
  }

  .first .tv_contast > :nth-child(2) {
    font-size: 1rem;
    line-height: 1.4em;
  }

  .first .setImg video {
    width: 60%;
    left: 20%;
  }

  .hero_section > :nth-child(2) {
    font-size: 1.2rem;
    margin-bottom: 5px;
    text-align: center;
  }

  .hero_section > :nth-child(3) {
    font-size: 0.9rem;
    text-align: center;
  }

  .first {
    width: 90vw;
    flex-wrap: wrap;
    text-align: center;
  }
  .second .bottam_part_logo {
    top: 60%;
    left: 15%;
  }
}

@media only screen and (max-width: 900px) {
  .main {
    background-size: max(1250px, 100vw);
    background-size: cover;
    height: 90vh;
  }
  .main .box {
    height: 90vh;
  }
  .hero_section {
    top: 60px;
  }
  .second .bottam_part_logo {
    top: 60%;
    left: 15%;
  }

  footer {
    grid-template-columns: 1fr 1fr;
  }
  .faq_part div {
    height: 30px;
    font-size: 1rem;
  }

}

@media only screen and (max-width: 580px) {
  .main {
    background-size: max(1200px, 100vw);
    background-size: cover;
  }
  nav img {
    width: 110px;
  }
  .login_email {
    flex-wrap: wrap;
  }

  .hero_section > :nth-child(1) {
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
  }

  .hero_section > :nth-child(2) {
    font-size: 1.2rem;
    margin-bottom: 5px;
    text-align: center;
  }

  .hero_section > :nth-child(3) {
    font-size: 0.9rem;
    text-align: center;
  }

  .second .bottam_part_logo {
    height: 20%;
  }
  .second .bottam_part_logo .tv_img_2_1 img {
    height: 52px;
  }

  .faq_part div {
    min-width: 80%;
  }
  .faq_part h1{
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 480px) {
  nav {
    max-width: 100%;
    padding: 24px;
  }
  nav img {
    width: 95px;
  }
  .main {
    background-size: max(1260px, 100vw);
  }
  .main {
    height: 71vh;
  }
  .main .box {
    height: 71vh;
  }

  .hero_section {
    gap: 15px;
  }

  .hero_section > :nth-child(1) {
    font-size: 1.86rem;
    font-weight: 900;
    text-align: center;
    line-height: 1.2em;
  }

  .hero_section > :nth-child(2) {
    font-size: 1.2rem;
    margin-bottom: 5px;
    text-align: center;
  }

  .hero_section > :nth-child(3) {
    font-size: 0.9rem;
    text-align: center;
  }

  .hero_section{
    padding: 0px;
  }

  .first .tv_contast > :nth-child(1) {
    font-size: 2rem;
    font-weight: bolder;
    line-height: 1.4em;
  }

  .first .tv_contast > :nth-child(2) {
    font-size: 1rem;
    line-height: 1.4em;
  }

  .button_get_start {
    margin-top: 15px;
  }

  .faq_part div {
    min-width: 80%;
  }

  .second .bottam_part_logo .tv_img_2_1 img {
    height: 42px;
  }
  .second .setImg .bottam_part_logo .content_for_second span {
    font-size: 12px;
  }

  .faq_part h1{
    font-size: 1.3rem;
  }

}

@media only screen and (max-width: 340px) {
  .hero_section > div > input {
    min-width: 200px;
  }
  .hero_section > :nth-child(1) {
    font-size: 1.46rem;
    font-weight: 900;
    text-align: center;
    line-height: 1.2em;
  }

  .hero_section > :nth-child(2) {
    font-size: 1rem;
    margin-bottom: 5px;
    text-align: center;
  }

  .hero_section > :nth-child(3) {
    font-size: 0.8rem;
    text-align: center;
  }

  .faq_part div {
    height: 30px;
    font-size: .8rem;
  }

}

@media only screen and (max-width: 270px) {
  .hero_section > div > input {
    min-width: 100px;
  }
  nav {
    flex-wrap: wrap;
  }
}
